* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: url("https://wallpaperaccess.com/full/1687317.jpg"), url("malam.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.nav {
    width: 120px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 12px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill, minmax(100px, 200px));
    gap: 24px;
    overflow: auto;
    text-align: center;
}

.nav::-webkit-scrollbar {
    width: 5px;
}

.nav::-webkit-scrollbar-thumb {
    background-color: white;
}


.nav .item {
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    position: relative;
    transform: translateX(-100px);
    transition: all 0.5s ease;
}

.nav .item.active {
    transform: translate(0,0)
}

.nav .item:hover, .nav .item .remove:hover {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
}

.nav .item .remove {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}

.nav .item .remove i {
    padding: 8px;
    font-size: 20px;
}

.nav .item a {
    color: white;
    text-align: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav .item a .logo img {
    width: 100%;
    margin: 12px auto;
    border-radius: 50%;
}

.nav .item .logo .bx-plus {
    font-size: 30px;
    color: white;
}

/*
Main
*/

.main {
    width: calc(100% - 120px);
    position: absolute;
    left: 120px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .info {
    width: 50%;
    text-align: center;
    margin: 24px;
    font-size: 10vw;
    color: white;
}

.main .search {
    position: relative;
    width: 50%;
}

.main .search .logo-search {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
    padding: 12px;
}

.main .search .searching input {
    width: 100%;
    padding: 12px;
    padding-left: 46px;
    border-radius: 5px;
    outline: none;
    border: 0;
    font-size: 20px;
    transition: all 0.5s ease;
}

.main .search .searching input:hover, .main .search .searching input:focus {
    box-shadow: 0 0 1px 8px rgba(255, 255, 255, 0.2);
}

.main .tambah {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 12px;
    display: none;
}

.main .tambah .box {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 12px;
    font-size: 20px;
}

.main .tambah .box input {
    width: 100%;
    margin: 15px auto;
    padding: 6px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    border: 0;
    font-size: 20px;
    transition: all 0.5s ease;
}

.main .tambah .box .save {
    width: 150px;
    height: 50px;
    margin: auto;
    display: block;
    outline: none;
    border: 0;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 22px;
    color: white;
    transition: all 0.5s ease;
}

.main .tambah .box .save:hover {
    background-color: rgba(0, 0, 0, 0.3);
}